/*center horizontal*/

.horizontal-center {
    text-align: center;
}

.horizontal-center [class^="col-"] {
    float: none;
    display: inline-grid;
}

/*center horizontal*/

/*------------------------------------------circle progress----------------------------------------*/

.progress-pie-chart {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
}

.progress-pie-chart.gt-50 {
    background: #81CE97;
}

.progress-pulse {
    animation: pulse-circle 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: pulse-circle 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: pulse-circle 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: pulse-circle 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: pulse-circle 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    clip: rect(0, 20px, 20px, 10px);
}

.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    clip: rect(0, 10px, 20px, 0);
    background: #81CE97;
    transform: rotate(0deg);
}

.gt-50 .ppc-progress {
    clip: rect(0, 10px, 20px, 0);
}

.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 20px, 20px, 10px);
    background: #E5E5E5;
}

.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 15.51304px/2);
    top: calc(50% - 15.91304px/2);
    width: 15.91304px;
    height: 15.91304px;
    background: transparent;
    text-align: center;
    display: table;
}

.ppc-percents span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #81CE97;
}

.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}

/*
.progress-pie-chart {
margin: 50px auto 0;
}
*/

#broker_operation .loader-trade {
    float: right;
    margin-top: -20px;
    margin-left: 10px;
    padding-right: 5px;
}

@keyframes pulse-circle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@-o-keyframes pulse-circle {
    0% {
        -o-transform: scale(1);
    }
    50% {
        -o-transform: scale(1.3);
    }
    100% {
        -o-transform: scale(1);
    }
}

@-ms-keyframes pulse-circle {
    0% {
        -ms-transform: scale(1);
    }
    50% {
        -ms-transform: scale(1.3);
    }
    100% {
        -ms-transform: scale(1);
    }
}

@-webkit-keyframes pulse-circle {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes pulse-circle {
    0% {
        -moz-transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.3);
    }
    100% {
        -moz-transform: scale(1);
    }
}

/*circle progress*/

/*----------------------------------------------Text align responsive------------------------------------------------------*/

.txt-right {
    text-align: right !important;
}

.txt-left {
    text-align: left !important;
}

.txt-center {
    text-align: center !important;
}

.txt-justify {
    text-align: justify !important;
}


.text-xs-left {
    text-align: left;
}

.text-xs-right {
    text-align: right;
}

.text-xs-center {
    text-align: center;
}

.text-xs-justify {
    text-align: justify;
}

@media (min-width: 768px) {
    .text-sm-left {
        text-align: left;
    }
    .text-sm-right {
        text-align: right;
    }
    .text-sm-center {
        text-align: center;
    }
    .text-sm-justify {
        text-align: justify;
    }
}

@media (min-width: 992px) {
    .text-md-left {
        text-align: left;
    }
    .text-md-right {
        text-align: right;
    }
    .text-md-center {
        text-align: center;
    }
    .text-md-justify {
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .text-lg-left {
        text-align: left;
    }
    .text-lg-right {
        text-align: right;
    }
    .text-lg-center {
        text-align: center;
    }
    .text-lg-justify {
        text-align: justify;
    }
}

/*----------------------------------------------Text align responsive fin------------------------------------------------------*/

/*---------------------------------obligar centrar elementos horizontales---------------------*/

.center-blo {
    float: none !important;
    margin: 0 auto !important;
}

/*---------------------------------obligar centrar elementos horizontales---------------------*/

/*---------------------------------obligar centrar elementos verticales---------------------*/

.vertical-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.vertical-center *,
::before,
::after {
    -webkit-box-sizing: inherit !important;
    box-sizing: inherit !important;
}

/*---------------------------------obligar centrar elementos verticales---------------------*/

/*--------------------------------------bordes-----------------------------------------------------*/

.not-radius {
    border-radius: 0px !important;
}

.not-border,
.border-0 {
    border: none !important;
}

.not-border-left {
    border-left: none !important;
}

.not-border-right {
    border-right: none !important;
}

.not-border-top {
    border-top: none !important;
}

.not-border-bottom {
    border-bottom: none !important;
}

.all-border {
    border: 1px solid;
}

.bb-1 {
    border-bottom: 1px solid;
}
.bt-1 {
    border-top: 1px solid;
}
.bt-2 {
    border-top: 2px solid;
}
.bt-3 {
    border-top: 3px solid;
}
.bt-4 {
    border-top: 4px solid;
}
.bt-5 {
    border-top: 5px solid;
}


.b-gray {
    border-color: #ccc;
}
.b-warning {
    border-color: #ffbf61;
}

/*--------------------------------------bordes fin-------------------------------------------------*/

/*--------------------------------------margenes-----------------------------------------------------*/

.not-margin {
    margin: 0px !important;
}

.not-margin-left {
    margin-left: 0px !important;
}

.not-margin-right {
    margin-right: 0px !important;
}

.not-margin-top {
    margin-top: 0px !important;
}

.not-margin-bottom {
    margin-bottom: 0px !important;
}

.vertical-margin {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.horizontal-margin {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.mn-0 {
    margin: 0px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.mt-1 {
    margin-top: 1% !important;
}

.mt-2 {
    margin-top: 2% !important;
}

.mt-3 {
    margin-top: 3% !important;
}

.mt-4 {
    margin-top: 4% !important;
}

.mb-1 {
    margin-bottom: 1% !important;
}

.mb-2 {
    margin-bottom: 2% !important;
}

.mb-3 {
    margin-bottom: 3% !important;
}

.mb-4 {
    margin-bottom: 4% !important;
}

/*--------------------------------------margenes fin-------------------------------------------------*/

/*--------------------------------------sangria-----------------------------------------------------*/

.not-padding {
    padding: 0px !important;
}

.not-padding-left {
    padding-left: 0px !important;
}

.not-padding-right {
    padding-right: 0px !important;
}

.not-padding-top {
    padding-top: 0px !important;
}

.not-padding-bottom {
    padding-bottom: 0px !important;
}

.vertical-padding {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.horizontal-padding {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.pn-0 {
    padding: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pb-1 {
    padding-bottom: 1% !important;
}

.pb-2 {
    padding-bottom: 2% !important;
}

.pb-3 {
    padding-bottom: 3% !important;
}

.pb-4 {
    padding-bottom: 4% !important;
}

.pt-1 {
    padding-top: 1% !important;
}

.pt-2 {
    padding-top: 2% !important;
}

.pt-3 {
    padding-top: 3% !important;
}

.pt-4 {
    padding-top: 4% !important;
}

.pr-1 {
    padding-right: 1% !important;
}

.pr-2 {
    padding-right: 2% !important;
}

.pr-3 {
    padding-right: 3% !important;
}

.pr-4 {
    padding-right: 4% !important;
}

.pl-1 {
    padding-left: 1% !important;
}

.pl-2 {
    padding-left: 2% !important;
}

.pl-3 {
    padding-left: 3% !important;
}

.pl-4 {
    padding-left: 4% !important;
}


/*--------------------------------------sangria fin-------------------------------------------------*/

/*--------------------------------------sombras----------------------------------------------------*/

.not-shadow {
    box-shadow: none !important;
}

.not-text-shadow {
    text-shadow: none !important;
}

/*--------------------------------------sombras fin------------------------------------------------*/

/*--------------------------------------filtros------------------------------------------------*/

.not-opacity {
    opacity: 1 !important;
}

.middle-opacity {
    opacity: 0.5 !important;
}

.true-opacity {
    opacity: 0 !important;
}

.f-invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}


/*--------------------------------------filtros------------------------------------------------*/

/*----------------------------------------------Background and Text style------------------------------------------------------*/

.back-success {
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}

.back-danger {
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}

.back-warning,
.btn-warning {
    background-color: #ffbf61 !important;
    border-color: #eea236 !important;
}

.back-primary {
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}

.back-info {
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}

.back-cancel {
    background-color: #585858 !important;
}

.back-gray-light {
    background-color: #efefef !important;
}

.back-signup {
    background-color: #bbbbbb !important;
}

.back-white {
    background-color: #fff !important;
}

.back-facebook {
    background-color: #3B5998 !important;
    border-color: #3B5998 !important;
}

.back-google {
    background-color: #d73d32 !important;
    border-color: #d73d32 !important;
}

.back-transparent {
    background-color: transparent !important;
}

.back-not {
    background: none !important;
}



.txt-white {
    color: #fff !important;
}

.txt-dark-gray {
    color: #333 !important;
}

.txt-black {
    color: #000 !important;
}

.txt-blue {
    color: #00A7D0 !important;
}

.txt-success {
    color: #5cb85c !important;
}

.txt-warning {
    color: #ffbf61 !important;
}

.txt-bold {
    font-weight: bold !important;
}

.txt-normal {
    font-weight: normal !important;
}

.txt-style-normal {
    font-style: normal !important;
}

.txt-family-boots {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.txt-decoration {
    text-decoration: none !important;
}

.txt-break {
    word-wrap: break-word !important;
}


/*-------------------------------------Font size-----------------------------------------------------------*/

.size-1 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.size-1-b {
    font-size: 5rem;
    margin-bottom: 20px;
    margin-top: 10px;
}

.size-2 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.size-3 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.size-4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.size-5 {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.size-6 {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*-------------------------------------Font size fin-------------------------------------------------------*/

/*----------------------------------------------Background fin------------------------------------------------------*/

/*-----------------------------------Pagination-------------------------------------------*/

.pagination > li > a,
.pagination > li > span {
    font-weight: bold;
    color: #333;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 0px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #ffbf61;
    background-color: #484848;
    border-color: #585858;
    border-radius: 0px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #333;
    background-color: #ccc;
    border-color: #ddd;
}


.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #333 !important;
    border: 1px solid #ccc !important;
    border-radius: 0px;
    background: #fff !important;
    font-weight: bold;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #333 !important;
    border: 1px solid #ccc;
    background-color: #ccc !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ffbf61 !important;
    border: 1px solid #ccc;
    background-color: #484848 !important;
}

/*-----------------------------------Pagination fin-------------------------------------------*/

/*-----------------------------------loading--------------------------------------------------*/

.loadinh_bg {
    width: 160px;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: 50%;
}

.loader {
    border: 2px solid #555555 !important;
    font-style: italic;
    height: 75px;
    position: relative;
}


.cssload-jumping {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 160px;
}

.cssload-jumping,
.cssload-jumping * {
    box-sizing: border-box;
}

.cssload-jumping span {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: rgb(72, 72, 72);
    border-radius: 487px;
    background-clip: padding-box;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.cssload-jumping span:nth-child(1) {
    animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.cssload-jumping span:nth-child(2) {
    animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.cssload-jumping span:nth-child(3) {
    animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.cssload-jumping span:nth-child(4) {
    animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.cssload-jumping span:nth-child(5) {
    animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}



@keyframes scale {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(0.9, 0.9);
        background: rgb(255, 192, 97);
    }
    50% {
        transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(72, 72, 72);
    }
    100% {
        transform: scale(0);
    }
}

@-o-keyframes scale {
    0% {
        -o-transform: scale(0);
    }
    25% {
        -o-transform: scale(0.9, 0.9);
        background: rgb(255, 192, 97);
    }
    50% {
        -o-transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(72, 72, 72);
    }
    100% {
        -o-transform: scale(0);
    }
}

@-ms-keyframes scale {
    0% {
        -ms-transform: scale(0);
    }
    25% {
        -ms-transform: scale(0.9, 0.9);
        background: rgb(255, 192, 97);
    }
    50% {
        -ms-transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(72, 72, 72);
    }
    100% {
        -ms-transform: scale(0);
    }
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(0);
    }
    25% {
        -webkit-transform: scale(0.9, 0.9);
        background: rgb(255, 192, 97);
    }
    50% {
        -webkit-transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(72, 72, 72);
    }
    100% {
        -webkit-transform: scale(0);
    }
}

@-moz-keyframes scale {
    0% {
        -moz-transform: scale(0);
    }
    25% {
        -moz-transform: scale(0.9, 0.9);
        background: rgb(255, 192, 97);
    }
    50% {
        -moz-transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(72, 72, 72);
    }
    100% {
        -moz-transform: scale(0);
    }
}

/*-----------------------------------loading fin----------------------------------------------*/

/*-----------------------------------modal----------------------------------------------------*/

#googleModal .modal-content,
#facebookModal .modal-content {
    border-radius: 0;
}

#googleModal .modal-header,
#facebookModal .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

#googleModal .modal-body,
#facebookModal .modal-body {
    padding-top: 0;
}

#googleModal .modal-footer,
#facebookModal .modal-footer {
    border-top: none;
}



/*-----------------------------------modal fin------------------------------------------------*/

/*-----------------------------------login advanced-------------------------------------------*/

.mt-6-5 {
    margin-top: 6.5% !important;
}

.mb-13 {
    margin-bottom: 13.5% !important;
}




/*-----------------------------------login advanced fin---------------------------------------*/

/*--------------------------------------dimensiones--------------------------------------------*/

.vh-5 {
    min-height: 50vh;
}

.vh-7 {
    min-height: 70vh;
}

.vh-10 {
    min-height: 100vh;
}

.h-5 {
    height: 50vh;
}

.h-7 {
    height: 70vh;
}

.h-10 {
    height: 100vh;
}




/*--------------------------------------dimensiones fin---------------------------------------*/

/*-------------------------------------Tabla responsive---------------------------------------*/

.tabla-responsive {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.tabla-responsive tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.tabla-responsive th,
.tabla-responsive td {
    padding: .625em;
    text-align: center;
}

.tabla-responsive th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .tabla-responsive {
        border: 0;
    }

    .tabla-responsive thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .tabla-responsive tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    .tabla-responsive td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    .tabla-responsive td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
    }
    .tabla-responsive td:last-child {
        border-bottom: 0;
    }
}






/*-------------------------------------Tabla responsive fin-----------------------------------*/

/*-------------------------------------Calendario --------------------------------------------*/

.ui-widget-header {
    background: #666 !important;
    border-color: #333 !important;
    color: #fff !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #333 !important;
    background: #666 !important;

}

.ui-state-default:hover,
.ui-widget-content .ui-state-default:hover,
.ui-widget-header .ui-state-default:hover {
    border: 1px solid #333 !important;
    background: #ffbf61 !important;

}

.ui-datepicker .ui-datepicker-next span {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
}

.ui-datepicker .ui-datepicker-next span:before {
    content: "\f0a8";
}

.ui-datepicker-title .ui-datepicker-month,
.ui-datepicker-title .ui-datepicker-year {
    color: #000;
}

/*-------------------------------------Calendario fin------------------------------------------*/

/**/

.overflow-y-270 {
    height: 270px;
    overflow-y: auto;
}

/**/

.modal {
    overflow: auto !important;
}

/*--------------------------------------------------------------------------------------------*/

.depth-1 {
    z-index: 1
}

.depth-2 {
    z-index: 2
}

.depth-3 {
    z-index: 3
}

.depth-4 {
    z-index: 4
}

.depth-5 {
    z-index: 5
}

/*------------------------------------------------------------------------------------------*/

.position-r {
    position: relative;
}

.position-f {
    position: fixed;
}

.position-a {
    position: absolute;
}

/*------------------------------------------------------------------------------------------*/

.d-table {
    display: table;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

/*------------------------------------------------------------------------------------------*/

.line-h-1 {
    line-height: 1.5;
}

.line-h-2 {
    line-height: 2;
}

.line-h-3 {
    line-height: 3;
}

.line-h-4 {
    line-height: 4;
}

.line-h-5 {
    line-height: 5;
}
